@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);

/* this is a comment! */


p { font-size: 1en;color: blue}

h1,h2 {
	font-size: 32px;
	font-family: cursive;
	font-weight: bold;
	background: aqua;
	height: 2em;
	margin:.5em; 
	border: 1px dashed orange;
	text-align: center;

}

h3 {
	text-align: center;
}

nav{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	background: magenta;
	height: 1.5em;
	margin: 1em; 
	border: 1px dashed fuchsia;
	text-align: center;
}

figcaption{
	font-weight: normal;
	font-size: .75em
	line-hieght:1.5em;
	font-family: georgia, "new times roman" , serif;
}

.map {
	float: right;
	width: 50%;
}

#form input,#form textarea {
	display: block;



}

#form {
	float: left;
	width: 50%;
}

.container {
	width: 50%;
	margin: 0 auto;
}


.milk-text{font: bold 2.6em googleapis; color: red; text-shadow 0 2px 3px ;
}

#logo{background: aqua}

.footer {
	text-align: center;
	background: #ccc;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	clear: both;
}



tr th {
	text-align: center;
	background: red;
}

tr td {
	text-align: center;
	background: green;
}