@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);

/* this is a comment! */


p { font-size: 1en;color: blue}

h1 {
	font-size: 32px;
	font-family: cursive;
	font-weight: bold;
}

figcaption{
	font-weight: normal;
	font-size: .75em
	line-hieght:1.5em;
	font-family: georgia, "new times roman" , serif;
}

.milk-text{font: bold 2.6em googleapis; color: red; text-shadow 0 2px 3px ;
}

#logo{background: aqua}

.footer {
	text-align: center;
	background: #ccc;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
}

tr th {
	text-align: center;
	background: red;
}

tr td {
	text-align: center;
	background: green;
}